html,body {
  background-color:#696fc2;
}

.account {
  margin:2em;
  font-size: 3em;
    color: #e6e7ff;
}

.delete {
margin:6em;
}
.delete:hover {
color: white;
background-color: #4422ab;
}
img {
  margin: 1.5em 1.5em 1.5em 1.5em;
}

.liked {
  margin:3em;
}
.liked-section {
    color: #e6e7ff;
}
.logout {
  font-size: 2em;
  margin: 1em 1em 0em 0em;
  float: right;
  background-color: transparent;
  color: #e6e7ff;
}

.logout:hover {
  float: right;
  background-color: transparent;
  color:pink;

}
.clear {
  float: right;
  background-color: transparent;
  color: #e6e7ff;
  margin: 0em 5em 0em 0em;
}

.clear :hover {
  float: right;
  background-color: transparent;
  color:pink;
}
.liked-title {
  color:#eb73c1
}
.liked-user {
  color: #e6e7ff;
}